html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Lato", sans-serif;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("../images/image1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  overflow: auto;
  }